<%- include('../../m8/includes/header', { title: "404 - page not found "}); %>


<h1>Error 404 - not found</h1>
<p>
	Server can not find this page. Please try <a href="/">homepage</a>.
</p>

<%- include('../../m8/includes/footer'); %>
