<%- include('../includes/header', { title: "Test-2"}); %>

<div class="sector">
	<div class="container">
		<h1>Test 2</h1>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, culpa ducimus assumenda sint quidem ipsam doloremque quam tenetur dolorem, temporibus, alias dolores! Repellendus, sit. Accusantium, omnis consequuntur. Non, ipsum nulla!
		</p>

		<p>
			<a href="/test1/">test1</a><br>
			<a href="/test2/">test2</a><br>
			<a href="/test3/test4/">test3/test4/</a><br>
		</p>

	</div>
</div>

<%- include('../includes/footer'); %>
