<%- include('../includes/header', { title: "About"}); %>

<div class="sector">
	<div class="container">
		<h1>About</h1>
		<p>
			This is the about page.
		</p>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, culpa ducimus assumenda sint quidem ipsam doloremque quam tenetur dolorem, temporibus, alias dolores! Repellendus, sit. Accusantium, omnis consequuntur. Non, ipsum nulla!
		</p>
	</div>
</div>

<%- include('../includes/footer'); %>
