<%- include('../_site/includes/header', { title: "About", sitename: locals.siteconfig.sitename}); %>

<div class="sector">
	<div class="container">
		<h1>About</h1>
		<p>
			This is the about page.
		</p>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, culpa ducimus assumenda sint quidem ipsam doloremque quam tenetur dolorem, temporibus, alias dolores! Repellendus, sit. Accusantium, omnis consequuntur. Non, ipsum nulla!
		</p>
		<p>
			Search the web with <a href="https://startpage.com/" target="_blank">Startpage</a>.
		</p>
	</div>
</div>

<%- include('../_site/includes/footer'); %>
