/* content */
.sector {
	width: 100%;
	background-color: lightsteelblue;
	background-image: url("/img/pexels-asad-photo-maldives-457881.jpg");
	background-size: cover;
}
.sector.dark {
	background-color: #ccc;
}
.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
	border-color: #cfcfcf;
	border-style: solid;
	border-width: 0 1px 0 1px;
	background-color: #fff;
}
.chapter {
	border-top: 1px solid #fafafa;
}
