

/* elements */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
h1 { font-size: 1.8rem; color: #005050; }
h2 { font-size: 1.6rem; color: #005050; }
h3 { font-size: 1.4rem; color: #005050; }
h4 { font-size: 1.2rem; color: #005050; }
h5 { font-size: 1.0rem; color: #005050; }
h6 { font-size: 1.0rem; color: #005050; }

h1.headline {
	font-size: 1.3rem;
	color: #333;
}
h3.topic {
	font-size: 1.1rem;
	color: teal;
}
