/* ++++++++++++++++++++++++++++++++++++++++++++ */
/* header, footer, navi */
.page-header {
	margin: 0;
	padding: 5px 20px 5px 20px;
	background-color: #b0c4d3;
}
.page-header .page-header-inner {
	max-width: 960px;
	margin: 0 auto;
	font-size: 0.75rem;
}
.page-header .page-header-inner .page-logo a {
	display: inline-block;
	margin: 0;
	padding: 5px;
	border: 1px solid #088;
	border-radius: 5px;
	color: #088;
	background-color: #ddd;
}
.navi-main {
	margin:0;
	padding:0;
}
.navi-main .navi-main-inner {
	max-width: 680px;
	padding: 1px;
	margin: 0 auto;
	text-align:center;
}
.navi-main .navi-main-inner ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.navi-main .navi-main-inner ul li {
	display: inline-block;
	padding-right: 5px;
	border-right: 1px solid #888;
	font-size: 0.75rem;
}
.navi-main .navi-main-inner ul li:last-child {
	padding-right: 0;
	border-right: none;
}
.navi-main .navi-main-inner ul li a {
	color: #333;
}
.page-footer {
	margin: 0; 
	padding: 0;
	color: #fff;
}
.page-footer .page-footer-inner {
	max-width: 960px;
	margin: 0 auto;
	padding: 10px;
	font-size: 0.75rem;
}
.page-footer .page-footer-inner .page-footer-inner-right {
	text-align: right;
}
.page-footer .page-footer-inner .page-top-link a {
	display: inline-block;
	margin: 0;
	padding: 5px;
	border: 1px solid #088;
	border-radius: 5px;
	color: #088;
	background-color: #ddd;
}
.navi-footer {
	padding:0;
	max-width: 980px;
	margin: 0 auto;
	font-size: 0.5rem;
	text-align:center;
}
.navi-footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.navi-footer ul li {
	display: inline-block;
	padding-right: 5px;
	border-right: 1px solid #888;
	font-size: 0.75rem;
}
.navi-footer ul li:last-child {
	padding-right: 0;
	border-right: none;
}

