<%- include('includes/header', { title: "Homepage"}); %>

<h1>EJS works!</h1>
<p>
	This is the generated "index.html" file cached as "public/index.html" and living primarily as "ejspages/index.html".
</p>
<p>
	<a href="/test1/">teast1</a>
</p>

<%- include('includes/footer'); %>
