<!DOCTYPE html>
<html lang="en" style="background: #555;">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content="m8">
		<title><%= locals.title || m8 %></title>
		<link rel="stylesheet" href="/cfg/main.css" type="text/css" />
	</head>
	<body>
		<div class="page-header">
			<div class="page-header-inner">
				<div class="page-logo">
					<a href="/">m8 website</a>
				</div>
			</div>
		<%- include('navi_main', {}); %>
		</div>
