<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content="m8">
        <meta name="twitter:card" content="summary" />
        <meta name="apple-mobile-web-app-capable" content="no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <meta name="robots" content="index,follow,noarchive" />
		<title><%= locals.title || "m8" %></title>
		<link rel="stylesheet" href="/cfg/main.css" type="text/css" />
	</head>
	<body>
		<div class="page-header">
			<div class="page-header-inner">
				<div class="page-logo">
					<a href="/">m8 website</a>
				</div>
			</div>
		<%- include('navi_main', {}); %>
		</div>
