<div class="navi-main">
	<div class="navi-main-inner">
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/about/">About</a>
			</li>
			<li>
				<a href="/contact/">Contact</a>
			</li>
		</ul>
	</div>
</div>
