<%- include('../includes/header', { title: "Imprint"}); %>

<div class="sector">
	<div class="container">
		<h1>Imprint</h1>
		<p>
			I am Groot!
		</p>
	</div>
</div>

<%- include('../includes/footer'); %>
