<%- include('../_site/includes/header', { title: "Test-1", sitename: locals.siteconfig.sitename}); %>

<div class="sector">
	<div class="container">
		<h1>EJS works!</h1>
		<p>
			This is the generated "test1/index.html" file cached as "public/test1/index.html" and living primarily as "site/views/test1/index.html".
		</p>
		<p>
			<a href="/test1/">test1</a><br>
			<a href="/test2/">test2</a><br>
			<a href="/test3/test4/">test3/test4/</a><br>
		</p>

		<h1>Test 1</h1>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, culpa ducimus assumenda sint quidem ipsam doloremque quam tenetur dolorem, temporibus, alias dolores! Repellendus, sit. Accusantium, omnis consequuntur. Non, ipsum nulla!
		</p>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, culpa ducimus assumenda sint quidem ipsam doloremque quam tenetur dolorem, temporibus, alias dolores! Repellendus, sit. Accusantium, omnis consequuntur. Non, ipsum nulla!
		</p>

		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, culpa ducimus assumenda sint quidem ipsam doloremque quam tenetur dolorem, temporibus, alias dolores! Repellendus, sit. Accusantium, omnis consequuntur. Non, ipsum nulla!
		</p>

		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, culpa ducimus assumenda sint quidem ipsam doloremque quam tenetur dolorem, temporibus, alias dolores! Repellendus, sit. Accusantium, omnis consequuntur. Non, ipsum nulla!
		</p>

		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, culpa ducimus assumenda sint quidem ipsam doloremque quam tenetur dolorem, temporibus, alias dolores! Repellendus, sit. Accusantium, omnis consequuntur. Non, ipsum nulla!
		</p>

		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, culpa ducimus assumenda sint quidem ipsam doloremque quam tenetur dolorem, temporibus, alias dolores! Repellendus, sit. Accusantium, omnis consequuntur. Non, ipsum nulla!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, culpa ducimus assumenda sint quidem ipsam doloremque quam tenetur dolorem, temporibus, alias dolores! Repellendus, sit. Accusantium, omnis consequuntur. Non, ipsum nulla!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, culpa ducimus assumenda sint quidem ipsam doloremque quam tenetur dolorem, temporibus, alias dolores! Repellendus, sit. Accusantium, omnis consequuntur. Non, ipsum nulla!
		</p>

		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, culpa ducimus assumenda sint quidem ipsam doloremque quam tenetur dolorem, temporibus, alias dolores! Repellendus, sit. Accusantium, omnis consequuntur. Non, ipsum nulla!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, culpa ducimus assumenda sint quidem ipsam doloremque quam tenetur dolorem, temporibus, alias dolores! Repellendus, sit. Accusantium, omnis consequuntur. Non, ipsum nulla!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, culpa ducimus assumenda sint quidem ipsam doloremque quam tenetur dolorem, temporibus, alias dolores! Repellendus, sit. Accusantium, omnis consequuntur. Non, ipsum nulla!
		</p>

		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, culpa ducimus assumenda sint quidem ipsam doloremque quam tenetur dolorem, temporibus, alias dolores! Repellendus, sit. Accusantium, omnis consequuntur. Non, ipsum nulla!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, culpa ducimus assumenda sint quidem ipsam doloremque quam tenetur dolorem, temporibus, alias dolores! Repellendus, sit. Accusantium, omnis consequuntur. Non, ipsum nulla!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, culpa ducimus assumenda sint quidem ipsam doloremque quam tenetur dolorem, temporibus, alias dolores! Repellendus, sit. Accusantium, omnis consequuntur. Non, ipsum nulla!
		</p>
	</div>
</div>

<%- include('../_site/includes/footer'); %>
