<%- include('../../_site/includes/header', { title: "Test-2", sitename: locals.siteconfig.sitename}); %>

<div class="sector">
	<div class="container">
		<h1>Test 4</h1>
		<p>
			Uhhh, test 4.
		</p>

		<p>
			<a href="/test1/">test1</a><br>
			<a href="/test2/">test2</a><br>
			<a href="/test3/test4/">test3/test4/</a><br>
		</p>
	</div>
</div>

<%- include('../../_site/includes/footer'); %>
