	<div class="page-footer" style="background: linear-gradient(#b0c4d3, #fff);">
		<div class="page-footer-inner">
			<%- include('navi_footer', {}); %>
			<div class="page-top-link">
				<div class="page-footer-inner-right">
					<a href="#top">up</a>
				</div>
			</div>
		</div>
	</div>
	<script src="/cfg/index.js" type="text/javascript"></script>
	</body>
</html>
