<!--
<div class="navi-main">
	<div class="navi-main-inner">
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/blog1/">My Blog</a>
			</li>
			<li>
				<a href="/about/">About</a>
			</li>
			<li>
				<a href="/contact/">Contact</a>
			</li>
		</ul>
	</div>
</div>
-->

<div class="navi-main">
	<div class="navi-main-inner">
		<ul>
			<% if(locals.navigation) { %>
				<% for(let i=0; i<locals.navigation.length; i++) { 
					let item = locals.navigation[i]; 
				%>
					<li>
						<a href="<%- item.path %>">
							<% if(item.active) { %><b><% } %>
								<%- item.title %>
							<% if(item.active) { %></b><% } %>
						</a>
					</li>
				<% } %>
			<% } %>
		</ul>
	</div>
</div>
