<%- include('../_site/includes/header', { title: "Privacy Policy", sitename: locals.siteconfig.sitename}); %>

<div class="sector">
	<div class="container">
		<h1>Privacy Policy</h1>
		<p> 
			Everything is just so great. 😊
		</p>
	</div>
</div>

<%- include('../_site/includes/footer'); %>
